/* HANCORE V6 adapted for BitBeast */

window#waybar {
    background-color: @background;
    color: @foreground;
    border-bottom: 2px solid alpha(@foreground, 0.9);
    border-left: 2px solid alpha(@foreground, 0.9);
    border-right: 2px solid alpha(@foreground, 0.9);
    border-radius: 2px;
}

.modules-left {
    margin-left: 8px;
}

.modules-center {
    border-radius: 0;
    padding: 0 10px;
    border-left: 1px solid alpha(@foreground, 0.2);
    border-right: 1px solid alpha(@foreground, 0.2);
}

.modules-right {
    margin-right: 8px;
}

#workspaces {
    background: transparent;
    margin: 3px 0;
    padding: 10px 6px;
}

#workspaces button {
    min-width: 8px;
    min-height: 8px;
    padding: 1px;
    margin: 0 6px;
    border-radius: 2px;
    background-color: alpha(@foreground, 0.75);
    color: @foreground;
}

#workspaces button.active,
#workspaces button:hover {
    background-color: @foreground;
    min-width: 25px;
    color: @background;
}

#clock,
#custom-media,
#pulseaudio,
#backlight,
#network,
#custom-bluetooth,
#custom-style,
#custom-power {
    min-width: 12px;
    padding: 0 4px;
    margin: 1px 3px;
}

tooltip {
    padding: 4px;
    background: @background;
    font-size: 10px;
    border: 1px solid alpha(@foreground, 0.8);
    border-radius: 8px;
}
